<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beadandó - <%= title %></title>
    <link rel="stylesheet" href="/css/stilus.css"> 
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Főoldal</a></li>
            <li><a href="/adatbazis">Adatbázis</a></li>
            <li><a href="/kapcsolat">Kapcsolat</a></li>
            </ul>
    </nav>