<%- include('../partials/header') %>

<main>
    <h1>Üdvözlünk a Főoldalon!</h1>
    <p>Ez a tartalom a <code>views/pages/index.ejs</code> fájlból jön.</p>
    <p>Itt mutathatod be a céget.</p>
</main>

<%- include('../partials/footer') %>